@model HomeVM
@{
    ViewData["Title"] = "Index";
}

<section class="home">
    <div class="row flex-lg-row-reverse text-align-center align-items-center g-5 py-5">
        <div class="col-10 col-sm-8 col-lg-6">
            <img src="https://preview.uideck.com/items/saaspal/assets/img/hero/hero-img.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
        </div>
        <div class="col-lg-6" style="text-align: center;align-items: center;color: white;">
            <h1 class="display-5 fw-bold lh-5 mb-3">Launch Your SaaS <br> Website in Minutes!</h1>
            <p class="lead" style="padding: 10px 25px;">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed <br> diam nonumy eirmod tempor invidunt ut labore et dolore <br> magna aliquyam erat, sed diam voluptua.</p>
            <div class="d-grid gap-2 d-md-flex justify-content-md-start" style="padding: 0px 330px">
                <button type="button" class="btn btn-primary btn-lg px-4 me-md-2">Get Started</button>
            </div>
        </div>
    </div>
</section>
<section style="display: flex;">
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3" style="padding: 10px 450px;text-align: center; ">
        <div class="feature col">
            <div class="feature-icon d-inline-flex align-items-center justify-content-center bg-primary bg-gradient text-white fs-2 mb-3" style="border-radius: 10px;">
                <i class="bi bi-bootstrap-fill" style="font-size: 60px;border-radius: 10px;"></i>
            </div>
            <h2>Bootstrap 5</h2>
            <p>Lorem ipsum dolor sit amet, consetetur <br> sadipscing elitr, sed diam nonumy <br> eirmod tempor invidunt ut labore</p>
        </div>
        <div class="feature col">
            <div class="feature-icon d-inline-flex align-items-center justify-content-center bg-primary bg-gradient text-white fs-2 mb-3" style="border-radius: 10px;">
                <i class="bi bi-columns" style="font-size: 60px;border-radius: 10px;"></i>
            </div>
            <h2>Clean Design</h2>
            <p>Lorem ipsum dolor sit amet, consetetur <br> sadipscing elitr, sed diam nonumy <br> eirmod tempor invidunt ut labore</p>
        </div>
        <div class="feature col">
            <div class="feature-icon d-inline-flex align-items-center justify-content-center bg-primary bg-gradient text-white fs-2 mb-3" style="border-radius: 10px;">
                <i class="bi bi-cup-fill" style="font-size: 60px;border-radius: 10px;"></i>
            </div>
            <h2>Easy to Use</h2>
            <p>Lorem ipsum dolor sit amet, consetetur <br> sadipscing elitr, sed diam nonumy <br> eirmod tempor invidunt ut labore</p>
        </div>

    </div>
</section>
<section>
    <div class="row flex-lg-row-reverse text-align-center align-items-center g-5 py-5">
        <div class="col-lg-6" style="text-align: center;align-items: center;color: black;">
            <h1 class="display-10 fw-bold lh-3 mb-1">Perfect Solution Thriving Online Business</h1>
            <p class="lead" style="padding: 10px 25px;">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed dinonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem.Lorem ipsum dolor sit amet.</p>
            <div class="d-grid gap-2 d-md-flex justify-content-md-start" style="padding: 0px 330px">
                <button type="button" class="btn btn-light btn-lg px-6 me-md-2" style="border-color: blueviolet;color: blueviolet;border-radius: 30px;">Discover More</button>
            </div>
        </div>
        <div class="col-10 col-sm-8 col-lg-6">
            <img src="https://preview.uideck.com/items/saaspal/assets/img/hero/hero-img.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
        </div>
    </div>
</section>
<section style="background-image: url('https://preview.uideck.com/items/saaspal/assets/img/about/about-right-shape.svg');background-repeat: no-repeat;">
    <div class="row flex-lg-row-reverse text-align-center align-items-center g-5 py-5">
        <div class="col-lg-6" style="text-align: center;align-items: center;color: black;">
            <h2 class="display-11  lh-3 mb-1">Easy to Use with Tons of Awesome Features</h2>
            <p class="lead" style="padding: 10px 25px;">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy <br> eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam <br> voluptua.</p>
            <ul style="color: blueviolet;">
                <b>
                <li>Quick Access</li>
                <li>Easily to Manage</li>
                <li>24/7 Support</li>
                </b>
            </ul>
            <div class="d-grid gap-2 d-md-flex justify-content-md-start" style="padding: 0px 390px">
                <button type="button" class="btn btn-light btn-lg px-6 me-md-2" style="border-color: blueviolet;color: blueviolet;border-radius: 30px;">Learn More</button>
            </div>
        </div>
        <div class="col-10 col-sm-8 col-lg-6">
            <img src="https://preview.uideck.com/items/saaspal/assets/img/hero/hero-img.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
        </div>
    </div>
</section>
<section class="choose">
    <div class="container py-3">

        <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
            <h1 class="display-7 fw-normal">Why Choose SaaSpal</h1>
            <p class="fs-5 text-muted">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed <br> diam nonumy eirmod tempor invidunt ut labore et dolore</p>
        </div>


        <main class="icons">
            <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
                <div class=" mb-4 rounded-3 shadow-sm">
                    <div class="header py-3">
                        <i class="bi bi-tv-fill"></i>
                        <h4 class="my-0 fw-normal">SaaS Focused</h4><br>
                        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore</p>
                    </div>
                </div>
                <div>
                    <div class=" mb-4 rounded-3 shadow-sm">
                        <div class="header py-3">
                            <i class="bi bi-camera2"></i>
                            <h4 class="my-0 fw-normal">Awesome Design</h4><br>
                            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore</p>
                        </div>
                    </div>
                </div>
                <div>
                    <div class=" mb-4 rounded-3 shadow-sm ">
                        <div class="header py-3 ">
                            <i class="bi bi-check-circle-fill"></i>
                            <h4 class="my-0 fw-normal">Ready to Use</h4><br>
                            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore</p>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <main class="icons">
            <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
                <div class=" mb-4 rounded-3 shadow-sm">
                    <div class="header py-3">
                        <i class="bi bi-filetype-js"></i>
                        <h4 class="my-0 fw-normal">Vanilla JS</h4><br>
                        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore</p>
                    </div>
                </div>
                <div>
                    <div class=" mb-4 rounded-3 shadow-sm">
                        <div class="header py-3">
                            <i class="bi bi-stack"></i>
                            <h4 class="my-0 fw-normal">Essential Sections</h4><br>
                            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore</p>
                        </div>
                    </div>
                </div>
                <div>
                    <div class=" mb-4 rounded-3 shadow-sm ">
                        <div class="header py-3 ">
                            <i class="bi bi-send-exclamation-fill"></i>
                            <h4 class="my-0 fw-normal">Highly Optimized</h4><br>
                            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore</p>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</section>
<section class="customers ">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
        @foreach (var item in Model.Sliders)
        {
            <div class="col-lg-6">
                <h1 class="display-5 fw-bold lh-1 mb-3">@item.Title</h1>
                <p class="lead">@item.Desc @item.Name @item.Profession</p>
            </div>
            <div class="col-10 col-sm-8 col-lg-6">
                <img src="assets/img/@item.Image" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="200" height="130" loading="lazy">
            </div>
        }
    </div>
</section>
<section class="search">
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid" id="container">
            <h3>
                Subscribe Our Newsletter<br><br>
                <p style="font-size: 20px;">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam  nonumy eirmod tempor</p>
            </h3>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent" style="padding-left: 300px;">
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Your email" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>
</section>

